.example-section {
  
  background-color: rgb(108, 107, 105);
  
    
  }
  .container{
    margin-left: auto;
    width: 50%;
    height: 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .example-margin {
  text-align: center;
  
    /* border: 1px solid #06b6d4; */
    
    color: #fff;
    font-size: 1.5rem;
    font-style: oblique;
    color: rgb(243, 24, 24);
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .respueta{
    background-color: blueviolet;
  }
  